In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-1.5.1-cp310-cp310-win_amd64.whl (10.4 MB)
     ---------------------------------------- 10.4/10.4 MB 2.2 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in c:\users\nico_\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\nico_\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Collecting numpy>=1.21.0
  Downloading numpy-1.23.4-cp310-cp310-win_amd64.whl (14.6 MB)
     ---------------------------------------- 14.6/14.6 MB 2.7 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\nico_\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.23.4 pandas-1.5.1
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ymongo (c:\users\nico_\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\nico_\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\nico_\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\nico_\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\nico_\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\nico_\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\nico_\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\nico_\appdata\local\programs\python\python310\lib\site-packages)
WARNING: You are using pip version 22.0.4; however, version 22.3 is available.
You should consider upgrading via the 'C:\Users\nico_\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [87]:
import pandas as pd

Importamos el csv a Jupiter.

In [88]:
df = pd.read_csv("Covid Live.csv");

In [89]:
type(df)

pandas.core.frame.DataFrame

Analizamos alguna propiedades para poder identificar los valores innecesarios, ver si es necesario cambiar formatos, quitar variable, rellenar datos perdidos, etc.

In [90]:
print(df.head())

   # Country,\nOther Total\nCases Total\nDeaths  New\nDeaths Total\nRecovered  \
0  1             USA   98,166,904     1,084,282          NaN       94,962,112
1  2           India   44,587,307       528,629          NaN       44,019,095
2  3          France   35,342,950       155,078          NaN       34,527,115
3  4          Brazil   34,706,757       686,027          NaN       33,838,636
4  5         Germany   33,312,373       149,948          NaN       32,315,200

  Active\nCases Serious,\nCritical Tot Cases/\n1M pop Deaths/\n1M pop  \
0     2,120,510              2,970            293,206           3,239
1        39,583                698             31,698             376
2       660,757                869            538,892           2,365
3       182,094              8,318            161,162           3,186
4       847,225              1,406            397,126           1,788

    Total\nTests Tests/\n1M pop     Population
0  1,118,158,870      3,339,729    334,805,269
1    894,416,853        635,857  1,406,631,776
2    271,490,188      4,139,547     65,584,518
3     63,776,166        296,146    215,353,593
4    122,332,384      1,458,359     83,883,596

In [91]:
print(df.tail())

       # Country,\nOther Total\nCases Total\nDeaths  New\nDeaths  \
225  226            Niue           80           NaN          NaN
226  227    Vatican City           29           NaN          NaN
227  228          Tuvalu           20           NaN          NaN
228  229  Western Sahara           10             1          NaN
229  230      MS Zaandam            9             2          NaN

    Total\nRecovered Active\nCases Serious,\nCritical Tot Cases/\n1M pop  \
225               80             0                NaN             49,322
226               29             0                NaN             36,295
227              NaN            20                NaN              1,658
228                9             0                NaN                 16
229                7             0                NaN                NaN

    Deaths/\n1M pop Total\nTests Tests/\n1M pop Population
225             NaN          NaN            NaN      1,622
226             NaN          NaN            NaN        799
227             NaN          NaN            NaN     12,066
228               2          NaN            NaN    626,161
229             NaN          NaN            NaN        NaN

In [92]:
print(df.shape)

(230, 13)

In [93]:
print(df.columns)

Index(['#', 'Country,\nOther', 'Total\nCases', 'Total\nDeaths', 'New\nDeaths',
       'Total\nRecovered', 'Active\nCases', 'Serious,\nCritical',
       'Tot Cases/\n1M pop', 'Deaths/\n1M pop', 'Total\nTests',
       'Tests/\n1M pop', 'Population'],
      dtype='object')

Renombramos las columnas para un mejor entendimiento

In [94]:
df.rename(columns={'Country,\nOther':'Paises', 'Total\nCases':'Casos', 'Total\nDeaths':'Muertes', 
                  'New\nDeaths':'Nuevas muertes', 'Total\nRecovered':'Recuperados', 'Active\nCases':'Casos activos',
                  'Serious,\nCritical':'Criticos', 'Tot Cases/\n1M pop':'Casos 1M per', 'Deaths/\n1M pop':'Muertes 1M per',
                  'Total\nTests':'Pruebas', 'Tests/\n1M pop':'Pruebas 1M per', 'Population':'Poblacion'},
               inplace=True)

In [95]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   #               230 non-null    int64
 1   Paises          230 non-null    object
 2   Casos           230 non-null    object
 3   Muertes         225 non-null    object
 4   Nuevas muertes  3 non-null      float64
 5   Recuperados     214 non-null    object
 6   Casos activos   215 non-null    object
 7   Criticos        147 non-null    object
 8   Casos 1M per    228 non-null    object
 9   Muertes 1M per  223 non-null    object
 10  Pruebas         214 non-null    object
 11  Pruebas 1M per  214 non-null    object
 12  Poblacion       228 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 23.5+ KB
None

In [96]:
print(df.describe())

                #  Nuevas muertes
count  230.000000             3.0
mean   115.500000            18.0
std     66.539462            21.0
min      1.000000             3.0
25%     58.250000             6.0
50%    115.500000             9.0
75%    172.750000            25.5
max    230.000000            42.0

In [97]:
print(df['Nuevas muertes'].value_counts)

<bound method IndexOpsMixin.value_counts of 0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
225   NaN
226   NaN
227   NaN
228   NaN
229   NaN
Name: Nuevas muertes, Length: 230, dtype: float64>

En las anteriores consultas se puede ver que dentro de la columna new deaths tenemos varios nulos, por lo que se prosigue a realizar la siguiente consulta para analizar si los datos dentro de esa columna nos brindan la información necesaria de otra manera sería mejor eliminarla.

In [98]:
print(df['Nuevas muertes'].value_counts(dropna=False))

NaN     227
42.0      1
9.0       1
3.0       1
Name: Nuevas muertes, dtype: int64

Para poder realizar un análisis de datos más preciso y adecuado, es necesario cambiar varios de los tipos de datos que ahora son objetos a string o float según sea el caso, de esta forma podremos filtrar y tener un análisis mucho más claro y preciso.

1. Procedemos a cambiar a tipo float los datos en las columnas:
- Casos.
- Muertes.
- Cosas activos.
- Criticos.
- Pruebas.
- Pruebas 1M per.
- Casos 1M per.
- Muertes 1M per.
- Poblacion.

Para esto es necesario convertirlo primero a string y quitar la coma(,) para despues convertirlo en float.

In [99]:
df['Casos'] = df['Casos'].str.replace(",", "").astype(float)

Comprobamos que el cambio de tipo se realizo correctamente y procedemos a realizar el cambio de tipo de las demás columnas.

In [100]:
print(df['Casos'].value_counts(dropna=False))

98166904.0    1
63285.0       1
62371.0       1
61730.0       1
57299.0       1
             ..
658520.0      1
644016.0      1
622802.0      1
620548.0      1
9.0           1
Name: Casos, Length: 230, dtype: int64

In [101]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   #               230 non-null    int64
 1   Paises          230 non-null    object
 2   Casos           230 non-null    float64
 3   Muertes         225 non-null    object
 4   Nuevas muertes  3 non-null      float64
 5   Recuperados     214 non-null    object
 6   Casos activos   215 non-null    object
 7   Criticos        147 non-null    object
 8   Casos 1M per    228 non-null    object
 9   Muertes 1M per  223 non-null    object
 10  Pruebas         214 non-null    object
 11  Pruebas 1M per  214 non-null    object
 12  Poblacion       228 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 23.5+ KB
None

In [102]:
df['Muertes'] = df['Muertes'].str.replace(",", "").astype(float)
df['Casos activos'] = df['Casos activos'].str.replace(",", "").astype(float)
df['Casos 1M per'] = df['Casos 1M per'].str.replace(",", "").astype(float)
df['Muertes 1M per'] = df['Muertes 1M per'].str.replace(",", "").astype(float)
df['Criticos'] = df['Criticos'].str.replace(",", "").astype(float)
df['Pruebas 1M per'] = df['Pruebas 1M per'].str.replace(",", "").astype(float)
df['Pruebas'] = df['Pruebas'].str.replace(",", "").astype(float)
df['Poblacion'] = df['Poblacion'].str.replace(",", "").astype(float)

In [103]:
print(df.tail())

       #          Paises  Casos  Muertes  Nuevas muertes Recuperados  \
225  226            Niue   80.0      NaN             NaN          80
226  227    Vatican City   29.0      NaN             NaN          29
227  228          Tuvalu   20.0      NaN             NaN         NaN
228  229  Western Sahara   10.0      1.0             NaN           9
229  230      MS Zaandam    9.0      2.0             NaN           7

     Casos activos  Criticos  Casos 1M per  Muertes 1M per  Pruebas  \
225            0.0       NaN       49322.0             NaN      NaN
226            0.0       NaN       36295.0             NaN      NaN
227           20.0       NaN        1658.0             NaN      NaN
228            0.0       NaN          16.0             2.0      NaN
229            0.0       NaN           NaN             NaN      NaN

     Pruebas 1M per  Poblacion
225             NaN     1622.0
226             NaN      799.0
227             NaN    12066.0
228             NaN   626161.0
229             NaN        NaN

Convertir la columna Country a tipo String.

In [104]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   #               230 non-null    int64
 1   Paises          230 non-null    object
 2   Casos           230 non-null    float64
 3   Muertes         225 non-null    float64
 4   Nuevas muertes  3 non-null      float64
 5   Recuperados     214 non-null    object
 6   Casos activos   215 non-null    float64
 7   Criticos        147 non-null    float64
 8   Casos 1M per    228 non-null    float64
 9   Muertes 1M per  223 non-null    float64
 10  Pruebas         214 non-null    float64
 11  Pruebas 1M per  214 non-null    float64
 12  Poblacion       228 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 23.5+ KB
None

In [105]:
nombres_columnas = df.columns.values.tolist()
nombres_columnas

['#',
 'Paises',
 'Casos',
 'Muertes',
 'Nuevas muertes',
 'Recuperados',
 'Casos activos',
 'Criticos',
 'Casos 1M per',
 'Muertes 1M per',
 'Pruebas',
 'Pruebas 1M per',
 'Poblacion']

Se decide eliminar la columna Nueva muertes debido a que la gran mayoría de los datos son nulos y no nos brinda la información necesaria. Además, se eliminará la columna Total de recuperados ya que el 99% de los datos fueron perdidos según la documentación de la fuente de datos.

In [106]:
df = df.drop(['Nuevas muertes'], axis=1)
df = df.drop(['Recuperados'], axis=1)

In [107]:
df.set_index('#')

,Paises,Casos,Muertes,Casos activos,Criticos,Casos 1M per,Muertes 1M per,Pruebas,Pruebas 1M per,Poblacion
#,,,,,,,,,,
1,USA,98166904.0,1084282.0,2120510.0,2970.0,293206.0,3239.0,1.118159e+09,3339729.0,3.348053e+08
2,India,44587307.0,528629.0,39583.0,698.0,31698.0,376.0,8.944169e+08,635857.0,1.406632e+09
3,France,35342950.0,155078.0,660757.0,869.0,538892.0,2365.0,2.714902e+08,4139547.0,6.558452e+07
4,Brazil,34706757.0,686027.0,182094.0,8318.0,161162.0,3186.0,6.377617e+07,296146.0,2.153536e+08
5,Germany,33312373.0,149948.0,847225.0,1406.0,397126.0,1788.0,1.223324e+08,1458359.0,8.388360e+07
...,...,...,...,...,...,...,...,...,...,...
226,Niue,80.0,NaN,0.0,NaN,49322.0,NaN,NaN,NaN,1.622000e+03
227,Vatican City,29.0,NaN,0.0,NaN,36295.0,NaN,NaN,NaN,7.990000e+02
228,Tuvalu,20.0,NaN,20.0,NaN,1658.0,NaN,NaN,NaN,1.206600e+04
229,Western Sahara,10.0,1.0,0.0,NaN,16.0,2.0,NaN,NaN,6.261610e+05
230,MS Zaandam,9.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
print(df.tail())

       # Country,\nOther  Total\nCases  Total\nDeaths  Active\nCases  \
225  226            Niue          80.0            NaN            0.0
226  227    Vatican City          29.0            NaN            0.0
227  228          Tuvalu          20.0            NaN           20.0
228  229  Western Sahara          10.0            1.0            0.0
229  230      MS Zaandam           9.0            2.0            0.0

     Serious,\nCritical  Tot Cases/\n1M pop  Deaths/\n1M pop  Total\nTests  \
225                 NaN             49322.0              NaN           NaN
226                 NaN             36295.0              NaN           NaN
227                 NaN              1658.0              NaN           NaN
228                 NaN                16.0              2.0           NaN
229                 NaN                 NaN              NaN           NaN

     Tests/\n1M pop  Population
225             NaN      1622.0
226             NaN       799.0
227             NaN     12066.0
228             NaN    626161.0
229             NaN         NaN

Remplazamos los valores nulos por ceros(0).

In [108]:
df['Casos'].fillna(0, inplace=True)
df['Muertes'].fillna(0, inplace=True)
df['Casos activos'].fillna(0, inplace=True)
df['Casos 1M per'].fillna(0, inplace=True)
df['Muertes 1M per'].fillna(0, inplace=True)
df['Criticos'].fillna(0, inplace=True)
df['Pruebas 1M per'].fillna(0, inplace=True)
df['Pruebas'].fillna(0, inplace=True)
df['Poblacion'].fillna(0, inplace=True)

In [109]:
print(df.tail())

       #          Paises  Casos  Muertes  Casos activos  Criticos  \
225  226            Niue   80.0      0.0            0.0       0.0
226  227    Vatican City   29.0      0.0            0.0       0.0
227  228          Tuvalu   20.0      0.0           20.0       0.0
228  229  Western Sahara   10.0      1.0            0.0       0.0
229  230      MS Zaandam    9.0      2.0            0.0       0.0

     Casos 1M per  Muertes 1M per  Pruebas  Pruebas 1M per  Poblacion
225       49322.0             0.0      0.0             0.0     1622.0
226       36295.0             0.0      0.0             0.0      799.0
227        1658.0             0.0      0.0             0.0    12066.0
228          16.0             2.0      0.0             0.0   626161.0
229           0.0             0.0      0.0             0.0        0.0

In [113]:
final=df.set_index('#')

In [114]:
final.to_csv('final.csv')